
.orderTop{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    align-items: center;
}

.orderBottom{
        box-sizing: border-box;
        padding: 50px 0 150px 50px;
        display: flex;
        align-items: center;
}

.orderTrack{
    width: 500px;
    display: flex;
}
.orderStatus{
    width: 33.33%;
    height: 5px;
    background: #777;
    position: relative;
    font-size: 12px;
}
.orderStatus.active{
    background: #26A541;
}
.orderStatus:last-child{
    width: 0;
}
.orderStatus .point{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 8px;
    background-color: #777;
    top: -5px;
}
.orderStatus .point.active{
    background-color: #26A541;
}
.orderInfo{
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -26px;
    transform: translateX(-50%);
}

.title{
    font-size: 16px;
    font-weight: 600;
    color:red;
}
.value{
    font-size: 14px;
    text-transform: capitalize;
    color:rgb(72, 75, 199);
}